{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vedant Bandre</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <br>
    <div class="container"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">
                    <img id="profile-pic" style="width: 200px;height: 200px;border-radius: 50%;margin-left: auto;margin-right: auto;" src="{% static 'images/profile_pic.png' %}">
                    <hr>
                    <h4>Hello! I am Vedant</h4>
                    <p>I am a graduate informatik student with a passion for Backend Development and Cybersecurity.</p>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>

            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>

            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
    </div>
    <!-- <h2>Hello, world!</h2>
    <img src="{% static 'images/profile_pic.png' %}"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>

<!-- fukat tithe prakat -->